[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = JuiceFS is a distributed POSIX file system built on top of Redis and S3.
[access "refs/*"]
	owner = group user/jiefenghuang
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/jiefenghuang
	label-Verified = -1..+1 group user/jiefenghuang
	push = group user/jiefenghuang
	read = group user/jiefenghuang
	rebase = group user/jiefenghuang
	removeReviewer = group user/jiefenghuang
	submit = group user/jiefenghuang
[access "refs/heads/*"]
	create = group user/jiefenghuang
	push = +force group user/jiefenghuang
	pushMerge = group user/jiefenghuang
	read = group user/jiefenghuang
[access "refs/tags/*"]
	push = group user/jiefenghuang
	push = +force group user/jiefenghuang
